* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
}

.headliner {
  text-align: center;
  margin: 20px auto;
}

.nav-contents {
  text-align: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 15px 0;
  margin: 0 auto;
}

.contents {
  display: inline-block;
  margin: 0px 20px;
  list-style: none;
}

.main {
  margin: 50px auto;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
}

.main-contents1 {
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}

.main-contents2 {
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}

.main-contents3 {
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}

.main-contents4 {
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}

.main-contents5 {
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}

.main-contents6 {
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}

.main-contents7 {
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
}

.main-contents8 {
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
}

.main-contents9 {
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
}

.main-contents10 {
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
}

.main-contents11 {
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
}

.main-contents12 {
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
}

footer {
  width: 100%;
  height: 120px;
  background-color: gray;
  line-height: 120px;
  text-align: center;
}

.footer-text {
  color: white;
}
